button {
  border: black 0.3px solid;
  border-radius: 10px;
  padding: 5px;
  width: 8rem;
  position: absolute;
  cursor: pointer;
  bottom: 3.2rem;
  left: 3.2rem;
  opacity: 80%;
}

/* button:hover {
  background-color: tomato;
} */

.add_botton {
  background-color: rgb(47, 185, 47);
}

.remove_button {
  background-color: tomato;
}

.exist_botton {
  background-color: yellow
}

.propertyImg {
  max-width: 14rem;
}

.imgContainer {
  height: 168px;
}

.agencyLogo {
  width: 5.5rem;
  padding-top: 0.6rem;
}

.card {
  border-radius: 5px;
  position: relative;
  padding: 0.5rem;
}

.header {
  text-align: left !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer {
  position: relative;
  background-color: rgb(250, 253, 250);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.price {
  text-align: left !important;
  font-size: 15px ;
  padding-left: 1rem;
}